<div class="container-fluid">
  {{#if messages.success}}
  <div role="alert" class="alert alert-success">
    {{#each messages.success}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}} {{#if messages.error}}
  <div role="alert" class="alert alert-danger">
    {{#each messages.error}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}} {{#if messages.info}}
  <div role="alert" class="alert alert-info">
    {{#each messages.info}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}}
  <div class="row">
    {{#each pins}}
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <div class="hovereffect">
          <img class="img-responsive lazy" data-original='{{imageUrl}}' />
          <div class="overlay">
            <h2>{{caption}}</h2>
            <p>
              <a class="info" href="/user/{{creatorId}}">See Users Pins</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
