<div class="login-container container">
  <div class="panel">
    <div class="panel-body">
      {{#if messages.error}}
        <div role="alert" class="alert alert-danger">
          {{#each messages.error}}
            <div>{{msg}}</div>
          {{/each}}
        </div>
      {{/if}}
      <form method="POST">
        <legend>New Pin</legend>
        <div class="form-group">
          <label for="url">Image Url</label>
          <input type="text" name="imageUrl" id="url" placeholder="http://example.com/AmazingCatPhoto.jpg" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <label for="caption">Caption?</label>
          <input type="text" name="caption" id="caption" placeholder="Amazingly Cute Cat Photo" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Add Pin</button>
      </form>
    </div>
  </div>
</div>
