<div class="container-fluid">
    {{#if messages.success}}
    <div role="alert" class="alert alert-success">
        {{#each messages.success}}
        <div>{{msg}}</div>
        {{/each}}
    </div>
    {{/if}} {{#if messages.error}}
    <div role="alert" class="alert alert-danger">
        {{#each messages.error}}
        <div>{{msg}}</div>
        {{/each}}
    </div>
    {{/if}} {{#if messages.info}}
    <div role="alert" class="alert alert-info">
        {{#each messages.info}}
        <div>{{msg}}</div>
        {{/each}}
    </div>
    {{/if}} {{#if myaccount}}
    <br>
    <h1 class="text-center">My Pins</h1>
    <br>
    <hr>
    <br>
    <div class="row">
        {{#each pins}}
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <div class="hovereffect">
                    <img class="img-responsive lazy" data-original='{{imageUrl}}' />
                    <div class="overlay">
                        <h2>{{caption}}</h2>
                        <p>
                            <a class="info" href="/delete/{{_id}}">Delete</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <br>
    <h1 class="text-center">User {{userId}}'s Pins</h1>
    <br>
    <hr>
    <br>
    <div class="row">
        {{#each pins}}
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <img class="img-responsive lazy" data-original='{{imageUrl}}' />
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>
